@import "tailwindcss/components";
@import "tailwindcss/utilities";

.inputField {
  @apply bg-screen text-white font-atm text-lg rounded-md border-white border-2 text-center shadow-md;
  width: theme("spacing.40");
  height: theme("spacing.12");
  transition: border-color 0.2s ease-in-out;
}

.inputField:focus {
  @apply border-yellow-400 outline-none;
}

.inputField.error {
  @apply border-red-500;
}
