@import "tailwindcss/components";
@import "tailwindcss/utilities";

.atmButtonContainer {
  @apply flex flex-row gap-0 items-center justify-center;
}

.pathToScreen {
  @apply bg-gray-400;
  width: theme("spacing.6");
  height: theme("spacing.1");
}

.atmButton {
  @apply bg-button text-black font-atm text-lg rounded-lg shadow-[0px_4px_2px_rgba(0,0,0,0.5)] 
         relative w-[theme(spacing.20)] h-[theme(spacing.10)]
         transition-all duration-150 ease-in-out;
}

.atmButton::before {
  content: "";
  @apply absolute top-0 left-[4%] right-[4%] h-[3px] bg-gray-300 rounded-t-full;
}

.atmButton::after {
  content: "";
  @apply absolute bottom-0 left-[4%] right-[4%] h-[3px] bg-gray-500 rounded-b-full;
}

.atmButton:hover {
  @apply bg-gray-400;
}

.atmButton:active {
  transform: scale(0.95);
}
